-e git://github.com/closeio/mongoengine.git#egg=mongoengine-dev
-e git://github.com/closeio/flask-mongoengine.git#egg=flask-mongoengine
-e git://github.com/sixohsix/twitter.git#egg=twitter
mimerender
python-dateutil
sphinx
cleancat>=0.3
flask
flask-Views
flask-WTF==0.8.4
pymongo==2.8.1
twitter
pytz
pandas
numpy
rollbar